html {
  font-family: "PT Root UI", sans-serif;
  font-size: 10px;
  color: #0c1116;
  --white: #ffffff;
  --blue: #00a6ed;
  --blue2: #2d9cdb;
  --red: #eb5757;
  --green: #27ae60;
  --yelow: #f2c94c;
  --grey: #565f64;
  --greybg: #dde7ec;
}

a {
  text-decoration: none;
  color: var(--white);
}

h2,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1440px;
}

/*header start*/

.header,
.nav,
.frame,
.wrapper__bell,
.wrapper__username {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-left: 14px;
  padding-right: 48px;
  color: var(--white);
  background-color: #24292c;
}

.nav,
.frame {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav {
  width: 55%;
  padding: 0;
}

.nav__item-link {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.nav__item-link:hover::after {
  content: "";
  position: absolute;
  display: block;
  right: 15px;
  left: 15px;
  height: 1px;
  bottom: 4px;
  background-color: var(--blue);
  transition: all 0.2s ease;
}

.nav__item-link:hover {
  color: var(--blue);
  transition: all 0.2s ease;
}

.frame {
  width: 16%;
}

.logo {
  width: 16%;
}

.wrapper__bell {
  height: 64px;
  width: 64px;
  align-items: center;
  position: relative;
}

.number {
  display: inline;
  position: absolute;
  top: 8.5px;
  right: 23px;
  border: 1px solid var(--red);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--red);
  text-align: center;
}

.icon {
  margin-right: 19px;
}

.wrapper__username {
  background: url(../images/vector.svg) no-repeat 100%;
  color: var(--white);
}

.username {
  padding-right: 15px;
}
/*header end*/

/*container start*/

.container {
  margin: 0;
  padding: 33px 144px;
  background-color: var(--greybg);
  cursor: pointer;
}

.container__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;
}

.container__header-link {
  font-weight: 500;
  font-size: 1.6rem;
  color: #0c1116;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0;
  background-color: var(--white);
  padding: 8px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__header-link > img {
  margin-right: 8px;
}

.container__header-link:hover {
  transform: scale(1.1);
}

.wrapper__content {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0;
  background-color: var(--white);
  border-collapse: collapse;
  position: relative;
}

.table {
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  border-collapse: collapse;
  
}

tr > td,
tr > th {
  padding-left: 32px;
  height: 32px;
}

.thead__application input {
  width: 112px;
}

.thead__title,
.thead__constractor {
  width: 208px;
}

.thead__date {
  width: 136px;
}

.thead__priority {
  width: 87px;
}

.thead__status {
  width: 159px;
}

.thead__dots {
  width: 40px;
  background-color: var(--greybg);;
}

.thead__dots,
.table__dots {
  display: inline-block;
  margin-right: 16px;
}

.table__dots:hover {
  color: var(--blue);
}

th #application::after {
  content: url(../images/vetor-tb.svg);
  padding-left: 15px;
}

th #priority::after {
  content: url(../images/vetor-tb.svg);
  padding-left: 28px;
}
.table__menu {
  display: none;
  width: 192px;
  height: 172px;
  box-shadow: -2px -1px 20px 0px rgba(74, 74, 74, 0.1);
  background-color: var(--white);
  z-index: 1;
  border-radius: 20px;
  font-size: 1.3rem;
}

.table__nav{
  display: inline-block;
  padding: 26px;
  width: 140px;
}

.wrapper__content:hover .table__menu{
  display: inline-block;
  position: absolute;
  bottom: 147px;
  right: -96px;
}

.table__nav__item {
  color: #0c1116;
  display: inline-block;
  margin-bottom: 12px;
}

.color-red{
  color: var(--red);
}

.table__nav .table__nav__item:hover {
  background-color: #565f64;
}

.el1::before{
  content: url(../images/el1.svg);
  padding-right: 12px;
}

.el2::before{
  content: url(../images/el2.svg);
  padding-right: 12px;
}

.el3::before{
  content: url(../images/el3.svg);
  padding-right: 12px;
}

.el4::before{
  content: url(../images/el4.svg);
  padding-right: 12px;
}

thead input {
  height: 32px;
  width: 100%;
  border: 0;
  border: var(--white);
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04),
    0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04),
    0px 0px 1px rgba(0, 98, 140, 0.7);
  background-color: #ffffff;
  margin-bottom: 16px;
  outline: none;
}

thead label {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 8px;
}

.thead {
  font-weight: 500;
  border-bottom: 1px solid #dce8ed;
  background-color: #f8fbfc;
  border-radius: 24px;
  border-collapse: collapse;
}

th:first-child {
  border-radius: 24px 0 0 0;
}

tr {
  border-bottom: 1px solid #f0f5f8;
}

tr .table__number,
tr .table__priority {
  text-align: right;
}

th:last-child {
  display: none;
}

tr > th {
  height: 56px;
}

tr:hover {
  background-color: #f3f7f9;
  transition: all 0.1s ease;
}

.tbody {
  background-color: var(--white);
  border-collapse: collapse;
}

.table__text-yelow {
  color: var(--yelow);
}

.table__text-blue {
  color: var(--blue2);
}

.table__text-green {
  color: var(--green);
}

.table__text-red {
  color: var(--red);
}

/*footer__content start*/

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 24px 40px;
  border-radius: 0 0 24px 24px;
}

.footer__btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

.footer__btn:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.2s ease;
}

.footer__content-right label {
  font-size: 1.4rem;
  margin-right: 8px;
}

.footer__content-right select {
  font-weight: 500;
  font-size: 1.4rem;
  border: 1px solid rgba(205, 219, 228, 1);
  border-radius: 8px;
  width: 56px;
  height: 32px;
  padding: 7px;
  cursor: pointer;
}

/*footer__content end*/
